{
    "parser": "babel-eslint",
    "extends": [
        // "eslint-config-airbnb"
    ],
    "rules": {
        // "no-unused-vars": 0,
        // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}